$orange-500: #fd7e14;
*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 120px;
    height: 120px;
    border: 2px solid $orange-500;
    border-radius: 15%;
}
.logo__a{
    :hover{
        border: 2px dotted $orange-500;
    }
}
.header__item{
    ul{
        li{
           margin: 0 10px;
           background-color: rgba(0, 0, 0, 0.193);
           border: 2px solid $orange-500;
            border-radius: 0 20px 0 20px;
           a{
               font-size: 1.5rem;
               color: white !important;
               margin: 0 5px;
           }
        }
        li:hover{
            background-color: rgb(0, 0, 0);
            a{
                color: beige !important;
            }
        }
    }
}
