*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 120px;
    height: 120px;
    border: 2px solid orange;
    border-radius: 15%;
}
.logo__a{
    :hover{
        border: 2px dotted orange;
    }
}
.header__item{
    ul{
        li{
           margin: 0 10px;
           a{
               font-size: 1.5rem;
           }
        }
    }
}