.contacto-fondo{
    background-image: url(/img/barbershop.jpg);
    height: 1000px;
    width: 100%;
    margin: 20px;
    form{
        padding: 25px;
        div{
            margin: 20px 0 ;
        }
    }
}