$orange-500: #fd7e14;
.section__inicio{
    .div-img{
        margin-bottom: 20px;
    }
    img{
        height: 100vh;
    }
}
.section__inicio--div{
        background-color: $orange-500;
        width: 100%;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
            font: {
                size: 3rem;
                family: cursive;
            }   
        }
        }
        a:hover{
            color: #000;
        }

/*SECTION / TIENDA*/

.tienda{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    .tienda-producto{
        width: 500px;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.064);
        margin: 10px auto;
        img{
            width: 100%;
            height: 80%;
            border-radius: 20px 0 20px 0;
            opacity: 0.8;
        }
        div{
            text-align: center;
            h3,p{
                margin: 10px 0;
                color: white;
                font-family:'roboto'sans-serif;
                font-size: 1.5rem;
                text-shadow: 2px 2px 2px gray;
            }
        }
    }
    .tienda-producto:hover{
        img{
            opacity: 1;
        }
        h3,p{
            border-bottom: 2px solid #fd7e14;
        }
    }
}

.carrusel-tienda{
    img{
        height: 500px;
    }
    h5, p{
        background-color: #000;
        color: #fd7e14;
        padding: 10px;
        border-radius: 20px 0 20px 0;
    }
    span{
        text-decoration: line-through;
    }

}