@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 120px;
  height: 120px;
  border: 2px solid orange;
  border-radius: 15%;
}

.logo__a :hover {
  border: 2px dotted orange;
}

.header__item ul li {
  margin: 0 10px;
}

.header__item ul li a {
  font-size: 1.5rem;
}

.section__inicio--div {
  background-color: #fd7e14;
  width: 100%;
  text-align: center;
}

.section__inicio--div a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-family: cursive;
}

#grilla__aside--principal {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "moderno clasico" "moderno clasico" "niños estilista" "niños estilista";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 250px 250px 250px 250px;
      grid-template-rows: 250px 250px 250px 250px;
  grid-row-gap: 8px;
}

.cortes__modernos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: moderno;
}

.cortes__modernos div {
  width: 50%;
  color: white;
}

.cortes__modernos div h1 {
  margin: 5px auto;
  text-align: center;
  font-family: 'cursive';
  text-transform: uppercase;
}

.cortes__modernos div h1:hover {
  color: #fd7e14;
}

.cortes__modernos div p {
  font-size: 1.5rem;
  margin: 5px 10px;
}

.cortes__modernos img {
  width: 100%;
  height: 100%;
}

.cortes__clasicos {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: clasico;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__clasicos div {
  width: 50%;
  color: white;
}

.cortes__clasicos div h1 {
  margin: 5px auto;
  text-align: center;
  font-family: 'cursive';
  text-transform: uppercase;
}

.cortes__clasicos div h1:hover {
  color: #fd7e14;
}

.cortes__clasicos div p {
  font-size: 1.5rem;
  margin: 5px 10px;
}

.cortes__clasicos img {
  width: 100%;
  height: 100%;
}

.cortes__niños {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: niños;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__niños div {
  width: 50%;
  color: white;
}

.cortes__niños div h1 {
  margin: 5px auto;
  text-align: center;
  font-family: 'cursive';
  text-transform: uppercase;
}

.cortes__niños div h1:hover {
  color: #fd7e14;
}

.cortes__niños div p {
  font-size: 1.5rem;
  margin: 5px 10px;
}

.cortes__niños img {
  width: 100%;
  height: 100%;
}

.cortes__estilistas {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: estilista;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__estilistas div {
  width: 50%;
  color: white;
}

.cortes__estilistas div h1 {
  margin: 5px auto;
  text-align: center;
  font-family: 'cursive';
  text-transform: uppercase;
}

.cortes__estilistas div h1:hover {
  color: #fd7e14;
}

.cortes__estilistas div p {
  font-size: 1.5rem;
  margin: 5px 10px;
}

.cortes__estilistas img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */