$orange-500: #fd7e14;
*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 120px;
    height: 120px;
    border: 2px solid $orange-500;
    border-radius: 15%;
}
.logo__a{
    :hover{
        border: 2px dotted $orange-500;
    }
}
.header__item{
    ul{
        li{
           margin: 0 10px;
           background-color: $orange-500 ;
           border: 2px solid rgba(0, 0, 0, 0.193);
            border-radius: 0 20px 0 20px;
           a{
               font-size: 1.5rem;
               color: white !important;
               margin: 0 5px;
           }
        }
        li:hover{
            background-color: rgba(255, 123, 0, 0.346);
            a{
                color: beige !important;
            }
        }
    }

}
#dropdown-list{
    margin: auto 5px;
    li{
        a{
            font-size: 1.5rem;
            color: white !important;
            margin: 0 5px;
        }
     }
     li:hover{
         background-color: rgba(255, 123, 0, 0.346) !important;
         margin: 0 10px;
         a{
            border-radius: 0 20px 0 20px;
            border: 2px solid rgba(0, 0, 0, 0.193);
            background-color: rgba(255, 123, 0, 0.346) !important;
            color: rgb(255, 255, 255) !important;
         }
     }
}