$orange-500: #fd7e14;

.contacto-titulo{
    display: flex;
    justify-content: center;
    color: $orange-500;
    text-shadow: 2px 2px 2px #000000;
    font-family: monospace;
    
    h1{
        font-size: 4.5rem;
    }
}
.contacto-fondo{
    background-image: url("https://2356021.fs1.hubspotusercontent-na1.net/hubfs/2356021/material%20para%20barberia.jfif");
    background-size: cover;
    margin: 20px auto;
    border-radius: 1%;
    .img-contacto{
        margin-left: auto;
        margin-right: auto;
        width: 225px;
        height: 225px;
        img{
            width: 100%;
            border: 2px solid white;
            border-radius: 20%;
        }
    }
    form{
        width: 60%;
        height: 100vh;
        padding: 25px;
        margin: auto;
        div{
            margin: 20px auto;
        }
        .form-boton{
            display: flex;
            width: 100%;
            input{
                border: 2px solid white;
                margin: 5px;
                width: 50%;
                height: 60px;
                background-color: black;
                color: #fd7e14;
                font-size: 2rem;
                font-family: cursive;
            }
            input:hover{
            background-color: $orange-500;
            color: white;
            border: 2px solid black;
        }
        }    
    }
}
@media(max-width: 400px){
    .contacto-titulo{
        h1{
            font-size: 4rem;
        }
    }
}
@media(max-width: 768px){
    .contacto-fondo{
        form{
            width: 100%;
    }
    }
    
}
