$orange-500: #fd7e14;

.contacto-titulo{
    color: white;
    text-shadow: 2px 2px 2px #fd7e14;
    font-family: monospace;
    
    h1{
        text-align: center;
        font-size: 5rem;
    }
}
.contacto-fondo{
    background-image: url(https://img.freepik.com/vector-premium/barberia-barber-shop-signo-senalizacion_2699-96.jpg?w=2000);
    background-size: cover;
    height: 1200px;
    width: 100%;
    margin: 20px auto;
    form{
        width: 60%;
        padding: 25px;
        margin: auto;
        div{
            text-align: center;
            margin: 20px 5px;
        }
        .form-boton{
            input{
                border: 2px solid white;
                margin: 20px 0;
                width: 250px;
                height: 60px;
                background-color: black;
                color: #fd7e14;
                font-size: 2rem;
                font-family: cursive;
            }
            input:hover{
            background-color: $orange-500;
            color: white;
            border: 2px solid black;
        }
        }
        
    }
}
@media(max-width: 768px){
    .contacto-fondo{
        form{
          .form-mensaje{
        width: 97%;  
        }
    }
    }
    
}