@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 120px;
  height: 120px;
  border: 2px solid #fd7e14;
  border-radius: 15%;
}

.logo__a :hover {
  border: 2px dotted #fd7e14;
}

.header__item ul li {
  margin: 0 10px;
  background-color: #fd7e14;
  border: 2px solid rgba(0, 0, 0, 0.193);
  border-radius: 0 20px 0 20px;
}

.header__item ul li a {
  font-size: 1.5rem;
  color: white !important;
  margin: 0 5px;
}

.header__item ul li:hover {
  background-color: rgba(255, 123, 0, 0.346);
}

.header__item ul li:hover a {
  color: beige !important;
}

#dropdown-list {
  margin: auto 5px;
}

#dropdown-list li a {
  font-size: 1.5rem;
  color: white !important;
  margin: 0 5px;
}

#dropdown-list li:hover {
  background-color: rgba(255, 123, 0, 0.346) !important;
  margin: 0 10px;
}

#dropdown-list li:hover a {
  border-radius: 0 20px 0 20px;
  border: 2px solid rgba(0, 0, 0, 0.193);
  background-color: rgba(255, 123, 0, 0.346) !important;
  color: white !important;
}

.section__inicio .div-img {
  margin-bottom: 20px;
}

.section__inicio img {
  height: 100vh;
}

.section__inicio--div {
  background-color: #fd7e14;
  width: 100%;
  text-align: center;
}

.section__inicio--div a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-family: cursive;
}

a:hover {
  color: #000;
}

/*SECTION / TIENDA*/
.carusel-border {
  border-radius: 10px;
}

.tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px auto;
}

.tienda .tienda-producto {
  width: 500px;
  border: 5px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.064);
  margin: 10px auto;
}

.tienda .tienda-producto img {
  width: 100%;
  height: 80%;
  border-radius: 20px 0 20px 0;
  opacity: 0.8;
}

.tienda .tienda-producto div {
  text-align: center;
}

.tienda .tienda-producto div h3, .tienda .tienda-producto div p {
  margin: 10px 0;
  color: white;
  font-family: 'roboto'sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px gray;
}

.tienda .tienda-producto:hover {
  border-bottom: 5px solid #fd7e14;
}

.tienda .tienda-producto:hover img {
  opacity: 1;
}

.carrusel-tienda img {
  height: 500px;
}

.carrusel-tienda h5, .carrusel-tienda p {
  background-color: #000;
  color: #fd7e14;
  padding: 10px;
  border-radius: 20px 0 20px 0;
}

.carrusel-tienda span {
  text-decoration: line-through;
}

/*SECTION / SOBRE MÍ*/
.titulo-sobremi h2 {
  left: 0;
  font-size: 2rem;
  font-family: monospace;
  color: white;
  text-shadow: 2px 2px 2px #fd7e14;
}

.img-sobremi {
  text-align: center;
  margin: 30px 0;
}

.img-sobremi img {
  width: 300px;
  height: 300px;
  border: 2.5px solid #fd7e14;
  border-radius: 50%;
}

.parrafo-sobremi {
  margin: 20px 0;
}

.parrafo-sobremi h2 {
  color: #fd7e14;
  text-align: center;
  font-family: cursive;
  margin-bottom: 20px;
}

.parrafo-sobremi p {
  text-shadow: 2px 2px 2px grey;
  margin: auto;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 3px;
  margin: 10px 0;
}

.mapa-sobremi {
  text-align: center;
}

.mapa-sobremi button {
  width: 180px;
  height: 50px;
  background-color: #fd7e14;
  margin: 10px;
  border-radius: 10px 0 10px 0;
}

.mapa-sobremi button a {
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mapa-sobremi button:hover {
  background-color: #000;
}

.mapa-sobremi button:hover a {
  color: #fd7e14;
}

#grilla__aside--principal {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "moderno clasico" "moderno clasico" "niños estilista" "niños estilista";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: (250px)[4];
      grid-template-rows: repeat(4, 250px);
  grid-row-gap: 8px;
  margin: 20px auto;
}

#grilla__aside--principal div div {
  width: 50%;
  color: white;
}

#grilla__aside--principal div div h1 {
  color: #fd7e14;
  margin: 5px auto;
  text-align: center;
  font-family: 'cursive';
  text-transform: uppercase;
}

#grilla__aside--principal div div h1:hover {
  color: honeydew;
  text-shadow: 2px 2px 2px gray;
}

#grilla__aside--principal div div p {
  font-size: 1.5rem;
  margin: 5px 10px;
}

#grilla__aside--principal img {
  width: 100%;
  height: 100%;
}

.cortes__modernos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: moderno;
}

.cortes__modernos:hover {
  border: 2px solid #fd7e14;
}

.cortes__clasicos {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: clasico;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__clasicos:hover {
  border: 2px solid #fd7e14;
}

.cortes__niños {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: niños;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__niños:hover {
  border: 2px solid #fd7e14;
}

.cortes__estilistas {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: estilista;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cortes__estilistas:hover {
  border: 2px solid #fd7e14;
}

@media (max-width: 480px) {
  #grilla__aside--principal {
        grid-template-areas: "moderno" "clasico" "niños" "estilista";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (400px)[4];
        grid-template-rows: repeat(4, 400px);
  }
  #grilla__aside--principal div div p {
    font-size: 1.1rem;
  }
}

@media (min-width: 481px) and (max-width: 938px) {
  #grilla__aside--principal {
        grid-template-areas: "moderno" "clasico" "niños" "estilista";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (500px)[4];
        grid-template-rows: repeat(4, 500px);
  }
  #grilla__aside--principal p {
    font-size: 1.5rem;
  }
}

.footer__div--redes {
  background-color: #fd7e14;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__div--redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__div--redes ul li {
  margin: 0 10px;
  font-size: 1.5rem;
}

.footer__div--redes ul li a {
  text-decoration: none;
  color: #f5f5dc;
}

.footer__div--redes ul li a:hover {
  color: black;
}

@media (max-width: 820px) {
  .footer__div--redes i {
    font-size: 2rem;
  }
  .footer__div--redes span {
    display: none;
  }
}

.footer-copy {
  background-color: #fd7e14;
  width: 100%;
  height: 30px;
  text-align: center;
}

.footer-copy p, .footer-copy i {
  color: #000000;
}

.contacto-titulo {
  color: white;
  text-shadow: 2px 2px 2px #fd7e14;
  font-family: monospace;
}

.contacto-titulo h1 {
  text-align: center;
  font-size: 5rem;
}

.contacto-fondo {
  background-image: url(https://img.freepik.com/vector-premium/barberia-barber-shop-signo-senalizacion_2699-96.jpg?w=2000);
  background-size: cover;
  height: 1200px;
  width: 100%;
  margin: 20px auto;
}

.contacto-fondo form {
  width: 60%;
  padding: 25px;
  margin: auto;
}

.contacto-fondo form div {
  text-align: center;
  margin: 20px 5px;
}

.contacto-fondo form .form-boton input {
  border: 2px solid white;
  margin: 20px 0;
  width: 250px;
  height: 60px;
  background-color: black;
  color: #fd7e14;
  font-size: 2rem;
  font-family: cursive;
}

.contacto-fondo form .form-boton input:hover {
  background-color: #fd7e14;
  color: white;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .contacto-fondo form .form-mensaje {
    width: 97%;
  }
}
/*# sourceMappingURL=style.css.map */