$orange-500: #fd7e14;

.contacto-titulo{
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: monospace;
    
    h1{
        text-align: center;
        font-size: 5rem;
        background-color: rgba(0, 0, 0, 0.362);
    }
}
.contacto-fondo{
    background-image: url(/img/barbershop.jpg);
    height: 1200px;
    width: 100%;
    margin: 20px auto;
    form{
        padding: 25px;
        div{
            text-align: center;
            margin: 20px 5px;
        }
        .form-mensaje{
            width: 70%;
            margin: 0 auto;
        }
        .form-boton{
            input{
                border: 2px solid white;
                margin: 20px 0;
                width: 300px;
                height: 60px;
                background-color: black;
                color: #fd7e14;
                font-size: 2rem;
                font-family: cursive;
            }
            input:hover{
            background-color: $orange-500;
            color: white;
            border: 2px solid black;
        }
        }
        
    }
}
@media(max-width: 768px){
    .contacto-fondo{
        form{
          .form-mensaje{
        width: 97%;  
        }
    }
    }
    
}